*{    margin:0;padding: 0;}
html{height: 100%}

body{
    height: 100%;
    display: flex;
}
.code{
    font-size: 20px;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background: bisque;
    flex:1;
}


.action{
    flex-direction: column;
    position: absolute;
    right: 50%;
    top: 0%;
    display: none;
}

.action div{
    text-align: center;
    font-size: 18px;
    padding: 0.5em 1em;
    margin: 8px;
    border: 1px solid #666666 ;
    background: white;
    border-radius: 5px;
}

.action div:hover{
    cursor: pointer;
}
